.solution {
  gap: 70px;

  padding-block: 64px;
}

.solution__texts {
  gap: 24px;

  max-width: 790px;
}

.solution__text {
  color: rgba(42, 43, 47, 0.9);
}

.solution__cards {
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card-sol {
  gap: 16px;

  width: 400px;
  height: 422px;
  padding: 24px 16px 16px 16px;

  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.08);
}

.card-sol__texts {
  gap: 12px;
}

.card-sol__img {
  width: 368px;
  height: 245px;
}

@media (width < 1024px) {
  .solution {
    gap: 40px;
    padding-block: 32px;
  }

  .solution__texts {
    max-width: 680px;
  }

  .card-sol {
    width: 300px;
    height: 322px;
  }

  .card-sol__img {
    width: 280px;
    height: 200px;
  }
}

@media (width < 768px) {
  .solution__texts {
    max-width: 485px;
  }
}
