.solution {
  padding-block: 64px;
}

.solution__inner {
  gap: 70px;
}

.solution__texts {
  gap: 24px;

  max-width: 790px;
}

.solution__text {
  color: rgba(42, 43, 47, 0.9);
}

.solution__cards {
  gap: 20px;
}

@media (width < 1320px) {
  .solution__cards {
    flex-wrap: wrap;
  }
}

@media (width < 1024px) {
  .solution {
    padding-block: 32px;
  }

  .solution__inner {
    gap: 40px;
  }

  .solution__texts {
    max-width: 680px;
  }
}

@media (width < 768px) {
  .solution__texts {
    max-width: 485px;
  }
}
